{% extends 'web/index.html' %}
{% load static %}
{% block content %}



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section two inner">
    <div class="banner-element-four two">
        <img src="{% static 'web/images/element/element-5.png' %}" alt="element">
    </div>
    <div class="banner-element-five two">
        <img src="{% static 'web/images/element/element-7.png' %}" alt="element">
    </div>
    <div class="banner-element-nineteen two">
        <img src="{% static 'web/images/element/element-6.png' %}" alt="element">
    </div>
    <div class="banner-element-twenty-two two">
        <img src="{% static 'web/images/element/element-69.png' %}" alt="element">
    </div>
    <div class="banner-element-twenty-three two">
        <img src="{% static 'web/images/element/element-70.png' %}" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-xl-12 mb-30">
                <div class="banner-content two">
                   <div class="banner-content-header">
                        <h2 class="title">About Us</h2>
                        <div class="breadcrumb-area">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'web:home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About us</li>
                                </ol>
                            </nav>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<a href="#" class="scrollToTop"><i class="las la-angle-double-up"></i></a>



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start About
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="about-section ptb-120">
    <div class="about-element-one two">
        <img src="{% static 'web/images/element/element-39.png' %}' %}" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="about-content two">
                    <h3 class="title">Who We Are</h3>
                    <p class="para">Softim is not only a globally recognized IT company but also a family filled with talented experts that help global brands, enterprises, mid-size businesses or even startups <br> with innovative solutions.</p>
                    <p>Softin is not an entity, it’s a family that represents togetherness for over two decades of a successful journey. For IndiaNICians, the definition of success is to transcend innovative ideas of people to reality with the help of our tech expertise, this is what we, as a Team, want to be remembered for!</p>
                    <div class="about-btn two">
                        <a href="{% url 'web:contact' %}" class="btn--base">Contact us</a>
                        <span>or Call <a href="tel:11026593268003">+110 2659 3268 003</a></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="about-thumb two">
                    <img src="{% static 'web/images/element/element-68.png' %}" alt="element">
                    <div class="about-thumb-element-one">
                        <img src="{% static 'web/images/element/element-60.png' %}" alt="element">
                    </div>
                    <div class="about-thumb-element-two">
                        <img src="{% static 'web/images/element/element-60.png' %}" alt="element">
                    </div>
                    <div class="about-thumb-video">
                        <div class="circle">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                <defs>
                                    <path id="circlePath" d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
                                </defs>
                                <circle cx="150" cy="100" r="75" fill="none"/>
                                <g>
                                    <use xlink:href="#circlePath" fill="none"/>
                                    <text fill="#ffffff">
                                        <textPath xlink:href="#circlePath">onflap it solution * onflap it solution * onflap it solution * onflap it solution *</textPath>
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <div class="video-main">
                            <a class="video-icon video" data-rel="lightcase:myCollection" href="https://www.youtube.com/embed/LRhrNC-OC0Y">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End About
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Agency
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="agency-section ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="agency-content text-center">
                    <div class="agency-logo-text">
                        <span>AGENCY</span>
                    </div>
                    <h2 class="title">Softim is a digital agency that offers a wide scale of
                        creative services, including brand development
                        online marketing and lots more.</h2>
                </div>
                <div class="agency-statistics-area">
                    <div class="row justify-content-center mb-30-none">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="statistics-item">
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="12">0</h3>
                                        <h3 class="title">+</h3>
                                    </div>
                                    <p>Years of operation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="statistics-item">
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="256">0</h3>
                                        <h3 class="title">+</h3>
                                    </div>
                                    <p>Projects deliverd</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="statistics-item">
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="65">0</h3>
                                        <h3 class="title">+</h3>
                                    </div>
                                    <p>Team Specialist</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="statistics-item">
                                <div class="statistics-content">
                                    <div class="odo-area">
                                        <h3 class="odo-title odometer" data-odometer-final="25">0</h3>
                                        <h3 class="title">+</h3>
                                    </div>
                                    <p>Around The World</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Agency
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Team
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="team-section two ptb-120">
    <div class="team-element-one">
        <img src="{% static 'web/images/element/element-7.png' %}" alt="element">
    </div>
    <div class="team-element-two">
        <img src="{% static 'web/images/element/element-6.png' %}" alt="element">
    </div>
    <div class="team-element-three">
        <img src="{% static 'web/images/element/element-7.png' %}" alt="element">
    </div>
    <div class="team-element-four">
        <img src="{% static 'web/images/element/element-39.png' %}" alt="element">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-header-wrapper">
                    <div class="section-header">
                        <h2 class="section-title">Onflap Expert Team</h2>
                        <p>We rank among the best in the US, Argentina, and Ukraine. Our apps get featured as best in class, and our clients love our work.</p>
                    </div>
                    <div class="slider-nav-area">
                        <div class="slider-prev">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="slider-next">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-12">
                <div class="team-slider-area two">
                    <div class="team-slider two">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img src="{% static 'web/images/team/team-5.png' %}" alt="team">
                                        <div class="team-social-area">
                                            <ul class="team-social">
                                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="">Nilkusa Agawal</a></h3>
                                        <span class="sub-title">Sr. Marketer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img src="{% static 'web/images/team/team-4.png' %}" alt="team">
                                        <div class="team-social-area">
                                            <ul class="team-social">
                                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="">Abhisek Roy</a></h3>
                                        <span class="sub-title">Havey Truck Instructor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-thumb">
                                        <img src="{% static 'web/images/team/team-6.png' %}" alt="team">
                                        <div class="team-social-area">
                                            <ul class="team-social">
                                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                                <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="">Rashmika Mandana</a></h3>
                                        <span class="sub-title">Lady Instructor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Team
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Client
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="client-section two pb-120">
    <div class="client-element-one two">
        <img src="{% static 'web/images/element/element-66.png' %}" alt="element">
    </div>
    <div class="client-element-two three">
        <img src="{% static 'web/images/element/element-66.png' %}" alt="element">
    </div>
    <div class="client-element-three">
        <img src="{% static 'web/images/element/element-46.png' %}" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="section-header">
                    <h2 class="section-title">Hear from happy customers</h2>
                    <p>Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas distributed for stand-alone web-readiness.</p>
                </div>
            </div>
        </div>
        <div class="client-area">
            <div class="row justify-content-center align-items-end mb-30-none">
                <div class="col-xl-8 col-lg-8 col-md-6 mb-30">
                    <div class="client-slider-area two">
                        <div class="client-slider-two">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="client-item">
                                        <div class="client-header">
                                            <div class="client-quote">
                                                <img src="{% static 'web/images/client/quote-2.png' %}" alt="client">
                                            </div>
                                            <div class="client-thumb">
                                                <img src="{% static 'web/images/client/client-4.png' %}" alt="client">
                                            </div>
                                        </div>
                                        <div class="client-content">
                                            <p>We teach martial arts because we love it — not because we want to make money on you. Unlike.</p>
                                        </div>
                                        <div class="client-footer">
                                            <div class="client-footer-left">
                                                <h4 class="title">Randall Schwartz</h4>
                                                <span class="sub-title">Sr. Consultant</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="client-item">
                                        <div class="client-header">
                                            <div class="client-quote">
                                                <img src="{% static 'web/images/client/quote-2.png' %}" alt="client">
                                            </div>
                                            <div class="client-thumb">
                                                <img src="{% static 'web/images/client/client-5.png' %}" alt="client">
                                            </div>
                                        </div>
                                        <div class="client-content">
                                            <p>We teach martial arts because we love it — not because we want to make money on you. Unlike.</p>
                                        </div>
                                        <div class="client-footer">
                                            <div class="client-footer-left">
                                                <h4 class="title">Andru Smith</h4>
                                                <span class="sub-title">Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="client-item">
                                        <div class="client-header">
                                            <div class="client-quote">
                                                <img src="{% static 'web/images/client/quote-2.png' %}" alt="client">
                                            </div>
                                            <div class="client-thumb">
                                                <img src="{% static 'web/images/client/client-4.png' %}" alt="client">
                                            </div>
                                        </div>
                                        <div class="client-content">
                                            <p>We teach martial arts because we love it — not because we want to make money on you. Unlike.</p>
                                        </div>
                                        <div class="client-footer">
                                            <div class="client-footer-left">
                                                <h4 class="title">Randall Schwartz</h4>
                                                <span class="sub-title">Sr. Consultant</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="client-right-thumb">
                        <img src="{% static 'web/images/client/client-big.png' %}" alt="client">
                        <div class="client-thumb-element">
                            <img src="{% static 'web/images/element/element-67.png' %}" alt="element">
                        </div>
                        <div class="client-thumb-overlay">
                            <div class="client-thumb-video">
                                <div class="video-main">
                                    <div class="promo-video">
                                        <div class="waves-block">
                                            <div class="waves wave-1"></div>
                                            <div class="waves wave-2"></div>
                                            <div class="waves wave-3"></div>
                                        </div>
                                    </div>
                                    <a class="video-icon" data-rel="lightcase:myCollection" href="https://www.youtube.com/embed/LRhrNC-OC0Y">
                                        <i class="las la-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="client-pagination"></div>
                <div class="slider-prev">
                    <i class="las la-long-arrow-alt-left"></i>
                </div>
                <div class="slider-next">
                    <i class="las la-long-arrow-alt-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Client
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

{% endblock %}