{% extends 'web/index.html' %}
{% load static %}
{% block content %}



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section two inner">
    <div class="banner-element-four two">
        <img src="{% static 'web/images/element/element-5.png' %}" alt="element">
    </div>
    <div class="banner-element-five two">
        <img src="{% static 'web/images/element/element-7.png' %}" alt="element">
    </div>
    <div class="banner-element-nineteen two">
        <img src="{% static 'web/images/element/element-6.png' %}" alt="element">
    </div>
    <div class="banner-element-twenty-two two">
        <img src="{% static 'web/images/element/element-69.pn' %}g" alt="element">
    </div>
    <div class="banner-element-twenty-three two">
        <img src="{% static 'web/images/element/element-70.pn' %}g" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-xl-12 mb-30">
                <div class="banner-content two">
                   <div class="banner-content-header">
                        <h2 class="title">category name</h2>
                        <div class="breadcrumb-area">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'web:home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Category</li>
                                </ol>
                            </nav>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop"><i class="las la-angle-double-up"></i></a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Service
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="service-section two ptb-120">
    <div class="container">
        <div class="row justify-content-center flex-row-reverse mb-30-none">
            <div class="col-xl-8 col-lg-8 mb-30">
                <div class="service-item three details">
                    
                    <div class="row justify-content-center mb-30-none">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="{% static 'web/images/gallery/gallery-10.png' %}" alt="gallery">
                                    <div class="gallery-thumb-overlay two">
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                        <div class="gallery-icon">
                                            <a href="{% url 'web:productdetails' %}"><i class="fas fa-bars"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-content">
                                    <h4 class="title"><a href="{% url 'web:productdetails' %}">Modern Technology</a></h4>
                                    <!-- <span class="price">$225.00</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="{% static 'web/images/gallery/gallery-2.png' %}" alt="gallery">
                                    <div class="gallery-thumb-overlay two">
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-bars"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-content">
                                    <h4 class="title"><a href="">Software Solutions</a></h4>
                                    <!-- <span class="price">$375.00</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="{% static 'web/images/gallery/gallery-3.png' %}" alt="gallery">
                                    <div class="gallery-thumb-overlay two">
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-bars"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-content">
                                    <h4 class="title"><a href="">Ecommerce Solutions</a></h4>
                                    <!-- <span class="price">$450.00</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="{% static 'web/images/gallery/gallery-11.png' %}" alt="gallery">
                                    <div class="gallery-thumb-overlay two">
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-bars"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-content">
                                    <h4 class="title"><a href="">Modern Technology</a></h4>
                                    <!-- <span class="price">$332.00</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="{% static 'web/images/gallery/gallery-4.png' %}" alt="gallery">
                                    <div class="gallery-thumb-overlay two">
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-bars"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-content">
                                    <h4 class="title"><a href="">Software Solutions</a></h4>
                                    <!-- /<span class="price">$430.00</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="{% static 'web/images/gallery/gallery-5.png' %}" alt="gallery">
                                    <div class="gallery-thumb-overlay two">
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-bars"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-content">
                                    <h4 class="title"><a href="">Ecommerce Solutions</a></h4>
                                    <!-- <span class="price">$250.00</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="{% static 'web/images/gallery/gallery-6.png' %}" alt="gallery">
                                    <div class="gallery-thumb-overlay two">
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-bars"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-content">
                                    <h4 class="title"><a href="">Modern Technology</a></h4>
                                    <!-- <span class="price">$652.00</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                            <div class="gallery-item">
                                <div class="gallery-thumb">
                                    <img src="{% static 'web/images/gallery/gallery-7.png' %}" alt="gallery">
                                    <div class="gallery-thumb-overlay two">
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                        <div class="gallery-icon">
                                            <a href=""><i class="fas fa-bars"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-content">
                                    <h4 class="title"><a href="">Corporate Solutions</a></h4>
                                    <!-- <span class="price">$380.00</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="service-sidebar">
                    <div class="category-widget-box mb-30">
                        <ul class="category-list two">
                            <li><a href="#0"><i class="fas fa-chevron-right"></i> Web Design</a></li>
                            <li><a href="#0"><i class="fas fa-chevron-right"></i> Digital Marketing</a></li>
                            <li><a href="#0"><i class="fas fa-chevron-right"></i> Search SEO</a></li>
                            <li><a href="#0"><i class="fas fa-chevron-right"></i> Web Development</a></li>
                        </ul>
                    </div>
                    <div class="widget-box mb-30">
                        <h4 class="widget-title">Download</h4>
                        <div class="download-widget-btn">
                            <a href="#0" class="btn--base"><span>Download Our Brochures</span> <i class="fas fa-download ml-2"></i></a>
                            <a href="#0" class="btn--base"><span>Our Company Details</span> <i class="fas fa-file-download ml-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-box section--bg mb-30">
                        <h4 class="widget-title text-white">Get In Touch</h4>
                        <p class="text-white">For more information feel free please contact with us.</p>
                        <div class="contact-sidebar-box">
                            <form class="contact-sidebar-form mb-20-none">
                                <div class="form-group">
                                    <input type="text" class="form--control" name="name" placeholder="Name"
                                        required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form--control" name="email"
                                        placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form--control" name="phone"
                                        placeholder="Phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn--base">Request a quotes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Service
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->




{% endblock %}