{% extends 'web/index.html' %}
{% load static %}
{% block content %}




   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section two inner">
    <div class="banner-element-four two">
        <img src="{% static 'web/images/element/element-5.png' %}" alt="element">
    </div>
    <div class="banner-element-five two">
        <img src="{% static 'web/images/element/element-7.png' %}" alt="element">
    </div>
    <div class="banner-element-nineteen two">
        <img src="{% static 'web/images/element/element-6.png' %}" alt="element">
    </div>
    <div class="banner-element-twenty-two two">
        <img src="{% static 'web/images/element/element-69.png' %}" alt="element">
    </div>
    <div class="banner-element-twenty-three two">
        <img src="{% static 'web/images/element/element-70.png' %}" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-xl-12 mb-30">
                <div class="banner-content two">
                    <div class="banner-content-header">
                        <h2 class="title">Contact us</h2>
                        <div class="breadcrumb-area">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'web:home' %}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop"><i class="las la-angle-double-up"></i></a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Start Contact-item
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="contact-item-section ptb-120">
    <div class="contact-item-element-one">
        <img src="{% static 'web/images/element/element-71.png' %}" alt="element">
    </div>
    <div class="contact-item-element-two">
        <img src="{% static 'web/images/element/element-72.png' %}" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="contact-item text-center">
                    <div class="contact-icon-area">
                        <div class="contact-icon">
                            <i class="las la-map-marked-alt"></i>
                        </div>
                    </div>
                    <div class="contact-content">
                        <h3 class="title">Visit Our Office</h3>
                        <p>72 Main Drive, Calibry, FL</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="contact-item text-center">
                    <div class="contact-icon-area">
                        <div class="contact-icon">
                            <i class="las la-phone"></i>
                        </div>
                    </div>
                    <div class="contact-content">
                        <h3 class="title">Call Us</h3>
                        <p><a href="tel:19006963600">+1 (900) 696 3600</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="contact-item text-center">
                    <div class="contact-icon-area">
                        <div class="contact-icon">
                            <i class="las la-envelope-open-text"></i>
                        </div>
                    </div>
                    <div class="contact-content">
                        <h3 class="title">Mail Us</h3>
                        <p><a href="mailto:">softim@yahoo.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
End Contact-item
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Start Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="contact-section ptb-120">
    <div class="contact-element-one">
        <img src="{% static 'web/images/element/element-73.png' %}" alt="element">
    </div>
    <div class="contact-element-two">
        <img src="{% static 'web/images/element/element-74.png' %}" alt="element">
    </div>
    <div class="container">
        <form class="contact-form">
            <div class="row justify-content-center mb-25-none">
                <div class="col-xl-6 col-lg-6 form-group">
                    <label>Enter Name</label>
                    <input type="text" name="name" class="form--control" placeholder="Jhon david smith">
                </div>
                <div class="col-xl-6 col-lg-6 form-group">
                    <label>Email Address</label>
                    <input type="email" name="email" class="form--control" placeholder="jhonsmith@gmail.com">
                </div>
                <div class="col-xl-6 col-lg-6 form-group">
                    <label>Your Phone</label>
                    <input type="text" name="number" class="form--control" placeholder="+1 (900) 696 3600"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                </div>
                <div class="col-xl-6 col-lg-6 form-group">
                    <label>Select Subject</label>
                    <div class="contact-select">
                        <select class="form--control">
                            <option value="1">Web Development</option>
                            <option value="2">Web Design</option>
                            <option value="3">Digital Marketing</option>
                            <option value="4">Search SEO</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 form-group">
                    <label>Write Message</label>
                    <textarea name="message" class="form--control" placeholder="Write Here ..."></textarea>
                </div>
                <div class="col-xl-12 col-lg-12 form-group text-center">
                    <button type="submit" class="btn--base mt-20">Send Now <i
                            class="fas fa-arrow-right ml-2"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
End Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Start Map
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="map-area">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.1899657893728!2d90.42380431666383!3d23.779746865573756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7499f257eab%3A0xe6b4b9eacea70f4a!2sManama+Tower!5e0!3m2!1sen!2sbd!4v1561542597668!5m2!1sen!2sbd"
        style="border:0" allowfullscreen></iframe>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
End Map
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



{% endblock %}