{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ONFLAP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="{% static 'web/css/fontawesome-all.min.css' %}">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'web/images/fav.png' %}" type="image/x-icon">
    <!-- swipper css link -->
    <link rel="stylesheet" href="{% static 'web/css/swiper.min.css' %}">
    <!-- lightcase css links -->
    <link rel="stylesheet" href="{% static 'web/css/lightcase.css' %}">
    <!-- odometer css link -->
    <link rel="stylesheet" href="{% static 'web/css/odometer.css' %}">
    <!-- line-awesome-icon css -->
    <link rel="stylesheet" href="{% static 'web/css/icomoon.css' %}">
    <!-- line-awesome-icon css -->
    <link rel="stylesheet" href="{% static 'web/css/line-awesome.min.css' %}">
    <!-- animate.css' %} -->
    <link rel="stylesheet" href="{% static 'web/css/animate.css' %}">
    <!-- aos.css' %} -->
    <link rel="stylesheet" href="{% static 'web/css/aos.css' %}">
    <!-- nice select css -->
    <link rel="stylesheet" href="{% static 'web/css/nice-select.css' %}">
    <!-- main style css link -->
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">


 
</head>
<body>



<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Preloader
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="preloader">
    <div class="drawing" id="loading">
        <div class="loading-dot"></div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Preloader
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!-- <div class="cursor"></div>
<div class="cursor-follower"></div> -->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<header class="header-section two">
    <div class="header">
        <div class="header-bottom-area">
            <div class="container custom-container">
                <div class="header-menu-content">
                    <nav class="navbar navbar-expand-xl p-0">
                        <a class="site-logo site-title" href=""><img src="{% static 'web/logo.png' %}" style="width: 80px; height: 80px;" alt="site-logo"></a>
                        <button class="navbar-toggler d-block d-xl-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggle-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu ">
                                <li class="">
                                    <a href="{% url 'web:home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'web:about' %}">About</a>
                                </li>
                                <li class="menu_has_children">
                                    <a href="{% url 'web:category' %}">category</a>
                                    <!-- <ul class="sub-menu">
                                        <li><a href="">Al</a></li>
                                        <li><a href="">product One</a></li>
                                        <li><a href="">product Two</a></li>
                                        <li><a href="">product Three</a></li>
                                        <li><a href="">product Four</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="{% url 'web:service' %}">Services</a></li>
                                <li>
                                    <a href="{% url 'web:career' %}">Career</a>
                                </li>
                                <li><a href="{% url 'web:contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->










{% block content %}

{% endblock %}





<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<footer class="footer-section two">
    <div class="footer-element-three">
        <img src="{% static 'web/images/element/element-40.png' %}" alt="element">
    </div>
    <div class="footer-element-seven two">
        <img src="{% static 'web/images/element/element-39.png' %}" alt="element">
    </div>
    <div class="footer-element-eight">
        <img src="{% static 'web/images/element/element-7.png' %}" alt="element">
    </div>
    <div class="footer-area ptb-120">
        <div class="footer-area-element">
            <img src="{% static 'web/images/element/element-57.png' %}" alt="element">
        </div>
        <div class="container">
            <div class="footer-top-area">
                <div class="row mb-30-none">
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <ul class="footer-contact-list">
                                <li>
                                    <span class="sub-title">Call us</span>
                                    <h4 class="link-title"><a href="tel:0369569032">+11 0369 569 032</a></h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <ul class="footer-contact-list">
                                <li>
                                    <span class="sub-title">Write to Us</span>
                                    <h4 class="link-title"><a href="mailto:">info@example.com</a></h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <ul class="footer-contact-list">
                                <li>
                                    <span class="sub-title">Office hours</span>
                                    <h4 class="link-title">Mon-Sat 9:00 - 7:00</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="row mb-30-none">
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <h5 class="title">About us</h5>
                            <p>Treker was founded in 1991 by a group of safety-focused professionals who created The Wingman Standard for rigorously vetting air charter operators.</p>
                            <ul class="footer-social">
                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                        <div class="footer-widget">
                            <h4 class="title">Explore Softim</h4>
                            <ul class="footer-list">
                                <li class="">
                                    <a href="{% url 'web:home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'web:about' %}">About</a>
                                </li>
                               
                                <li>
                                    <a href="{% url 'web:career' %}">Career</a>
                                </li>
                                <li><a href="{% url 'web:contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                       
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <h5 class="title">Sign up Newsletter</h5>
                            <form class="footer-subscribe-form">
                                <input type="email" class="form--control" placeholder="Enter Mail">
                                <button type="submit"><i class="las la-angle-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrapper two">
        <div class="container">
            <div class="row justify-content-center  ">
                <div class="col-xl-12    ">
                    <div class="copyright-area ">
                        <div class="footer-logo mx-auto">
                            <a class="site-logo site-title" href="{% url 'web:home' %}"><img src="{% static 'web/images/logo-two.png' %}" alt="site-logo"></a>
                        </div>
                       <p>© Copyright 2019 Onflap - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->




<!-- jquery -->
<script src="{% static 'web/js/jquery-3.6.0.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'web/js/bootstrap.min.js' %}"></script>
<!-- swipper js -->
<script src="{% static 'web/js/swiper.min.js' %}"></script>
<!-- lightcase js-->
<script src="{% static 'web/js/lightcase.js' %}"></script>
<!-- odometer js -->
<script src="{% static 'web/js/odometer.min.js' %}"></script>
<!-- viewport js -->
<script src="{% static 'web/js/viewport.jquery.js' %}"></script>
<!-- aos js file -->
<script src="{% static 'web/js/aos.js' %}"></script>
<!-- nice select js -->
<script src="{% static 'web/js/jquery.nice-select.js' %}"></script>
<!-- isotope js -->
<script src="{% static 'web/js/isotope.pkgd.min.js' %}"></script>
<!-- tweenMax js -->
<script src="{% static 'web/js/TweenMax.min.js' %}"></script>
<!-- main -->
<script src="{% static 'web/js/main.js' %}"></script>


</body>
</html>
