{% extends 'web/index.html' %}
{% load static %}
{% block content %}




   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section two inner">
    <div class="banner-element-four two">
        <img src="{% static 'web/images/element/element-5.png' %}" alt="element">
    </div>
    <div class="banner-element-five two">
        <img src="{% static 'web/images/element/element-7.png' %}" alt="element">
    </div>
    <div class="banner-element-nineteen two">
        <img src="{% static 'web/images/element/element-6.png' %}" alt="element">
    </div>
    <div class="banner-element-twenty-two two">
        <img src="{% static 'web/images/element/element-69.png' %}" alt="element">
    </div>
    <div class="banner-element-twenty-three two">
        <img src="{% static 'web/images/element/element-70.png' %}" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-xl-12 mb-30">
                <div class="banner-content two">
                    <div class="banner-content-header">
                        <h2 class="title">Service</h2>
                        <div class="breadcrumb-area">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'web:home' %}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">service </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop"><i class="las la-angle-double-up"></i></a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<section class="gallery-section ptb-120">
    <div class="container">
        <div class="gallery-filter-wrapper">
            <div class="button-group filter-btn-group two">
                <button class="active" data-filter="*">All</button>
                <button data-filter=".design">Web Development</button>
                <button data-filter=".webdev">Software Development </button>
                <button data-filter=".marketing">Digital marketing</button>
                <button data-filter=".appdev">UX/UI Design</button>
            </div>
            <div class="grid two">
                <div class="grid-item design marketing">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{% static 'web/images/gallery/gallery-10.png' %}" alt="gallery">
                            <div class="gallery-thumb-overlay">
                                <div class="gallery-icon">
                                    <a class="img-popup" data-rel="lightcase:myCollection" href="{% static 'web/images/gallery/gallery-10.png' %}"><img src="{% static 'web/images/icon/icon-21.png' %}" alt="icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-content">
                            <span class="sub-title">BRANDING ILLUSTRATION</span>
                            <h3 class="title"><a href="{% url 'web:servicedetails' %}">Modern Technology</a></h3>
                        </div>
                    </div>
                </div>
                <div class="grid-item webdev marketing">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{% static 'web/images/gallery/gallery-2.png' %}" alt="gallery">
                            <div class="gallery-thumb-overlay">
                                <div class="gallery-icon">
                                    <a class="img-popup" data-rel="lightcase:myCollection" href="{% static 'web/images/gallery/gallery-2.png' %}"><img src="{% static 'web/images/icon/icon-21.png' %}" alt="icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-content">
                            <span class="sub-title">BRANDING ILLUSTRATION</span>
                            <h3 class="title"><a href="{% url 'web:servicedetails' %}">Corporate Software Solutions</a></h3>
                        </div>
                    </div>
                </div>
                <div class="grid-item appdev design">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{% static 'web/images/gallery/gallery-3.png' %}" alt="gallery">
                            <div class="gallery-thumb-overlay">
                                <div class="gallery-icon">
                                    <a class="img-popup" data-rel="lightcase:myCollection" href="{% static 'web/images/gallery/gallery-3.png' %}"><img src="{% static 'web/images/icon/icon-21.png' %}" alt="icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-content">
                            <span class="sub-title">BRANDING ILLUSTRATION</span>
                            <h3 class="title"><a href="{% url 'web:servicedetails' %}">Ecommerce Solutions</a></h3>
                        </div>
                    </div>
                </div>
                <div class="grid-item appdev design">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{% static 'web/images/gallery/gallery-11.png' %}" alt="gallery">
                            <div class="gallery-thumb-overlay">
                                <div class="gallery-icon">
                                    <a class="img-popup" data-rel="lightcase:myCollection" href="{% static 'web/images/gallery/gallery-11.png' %}"><img src="{% static 'web/images/icon/icon-21.png' %}" alt="icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-content">
                            <span class="sub-title">BRANDING ILLUSTRATION</span>
                            <h3 class="title"><a href="{% url 'web:servicedetails' %}">Modern Technology</a></h3>
                        </div>
                    </div>
                </div>
                <div class="grid-item webdev">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{% static 'web/images/gallery/gallery-4.png' %}" alt="gallery">
                            <div class="gallery-thumb-overlay">
                                <div class="gallery-icon">
                                    <a class="img-popup" data-rel="lightcase:myCollection" href="{% static 'web/images/gallery/gallery-4.png' %}"><img src="{% static 'web/images/icon/icon-21.png' %}" alt="icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-content">
                            <span class="sub-title">BRANDING ILLUSTRATION</span>
                            <h3 class="title"><a href="{% url 'web:servicedetails' %}">Corporate Software Solutions</a></h3>
                        </div>
                    </div>
                </div>
                <div class="grid-item marketing">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{% static 'web/images/gallery/gallery-5.png' %}" alt="gallery">
                            <div class="gallery-thumb-overlay">
                                <div class="gallery-icon">
                                    <a class="img-popup" data-rel="lightcase:myCollection" href="{% static 'web/images/gallery/gallery-5.png' %}"><img src="{% static 'web/images/icon/icon-21.png' %}" alt="icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-content">
                            <span class="sub-title">BRANDING ILLUSTRATION</span>
                            <h3 class="title"><a href="{% url 'web:servicedetails' %}">Ecommerce Solutions</a></h3>
                        </div>
                    </div>
                </div>
                <div class="grid-item design">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{% static 'web/images/gallery/gallery-6.png' %}" alt="gallery">
                            <div class="gallery-thumb-overlay">
                                <div class="gallery-icon">
                                    <a class="img-popup" data-rel="lightcase:myCollection" href="{% static 'web/images/gallery/gallery-6.png' %}"><img src="{% static 'web/images/icon/icon-21.png' %}" alt="icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-content">
                            <span class="sub-title">BRANDING ILLUSTRATION</span>
                            <h3 class="title"><a href="{% url 'web:servicedetails' %}">Modern Technology</a></h3>
                        </div>
                    </div>
                </div>
                <div class="grid-item webdev">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{% static 'web/images/gallery/gallery-7.png' %}" alt="gallery">
                            <div class="gallery-thumb-overlay">
                                <div class="gallery-icon">
                                    <a class="img-popup" data-rel="lightcase:myCollection" href="{% static 'web/images/gallery/gallery-7.png' %}"><img src="{% static 'web/images/icon/icon-21.png' %}" alt="icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-content">
                            <span class="sub-title">BRANDING ILLUSTRATION</span>
                            <h3 class="title"><a href="{% url 'web:servicedetails' %}">Corporate Software Solutions</a></h3>
                        </div>
                    </div>
                </div>
                <div class="grid-item two marketing">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{% static 'web/images/gallery/gallery-12.png' %}" alt="gallery">
                            <div class="gallery-thumb-overlay">
                                <div class="gallery-icon">
                                    <a class="img-popup" data-rel="lightcase:myCollection" href="{% static 'web/images/gallery/gallery-9.png' %}"><img src="{% static 'web/images/icon/icon-21.png' %}" alt="icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-content">
                            <span class="sub-title">BRANDING ILLUSTRATION</span>
                            <h3 class="title"><a href="{% url 'web:servicedetails' %}">Ecommerce Solutions</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}